<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="panes-list-container" #paneslist>

    <!-- yellow pane -->
    <div class="pane-container" #yellowpane>
      <!-- header -->
      <div class="header yellow">
        <ion-label>
          {{list.yellow}}
        </ion-label>
        <div class="header-icons" >
          <div (click)="onCollapse('yellowMin')">
            <ion-icon *ngIf="!list.yellowMin" name="remove"></ion-icon>
            <ion-icon *ngIf="list.yellowMin" name="add"></ion-icon>
          </div>
          <div>
            <ion-icon (click)="onSetSize('yellow', 'small')" *ngIf="list.yellow=='full'" name="square"></ion-icon>
            <ion-icon (click)="onSetSize('yellow', 'full')" *ngIf="list.yellow!='full'" name="square-outline"></ion-icon>
          </div>
        </div>

      </div>
      <!-- content -->
      <div class="content" *ngIf="list.yellowMin==false" ngClass="{{list.yellow}}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
      </div>
    </div>

    <!-- blue pane -->
    <div class="pane-container" #bluepane>
      <!-- header -->
      <div class="header blue">
        <ion-label>
          {{list.blue}}
        </ion-label>
        <div class="header-icons">
          <div (click)="onCollapse('blueMin')">
            <ion-icon *ngIf="!list.blueMin" name="remove"></ion-icon>
            <ion-icon *ngIf="list.blueMin" name="add"></ion-icon>
          </div>
          <div>
            <ion-icon (click)="onSetSize('blue', 'small')" *ngIf="list.blue=='full'" name="square"></ion-icon>
            <ion-icon (click)="onSetSize('blue', 'full')" *ngIf="list.blue!='full'" name="square-outline"></ion-icon>
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="content" *ngIf="!list.blueMin" ngClass="{{list.blue}}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
      </div>
    </div>

    <!-- red pane -->
    <div class="pane-container" #redpane>
      <!-- header -->
      <div class="header red">
        <ion-label>
          {{list.red}}
        </ion-label>
        <div class="header-icons">
          <div (click)="onCollapse('redMin')">
            <ion-icon *ngIf="!list.redMin" name="remove"></ion-icon>
            <ion-icon *ngIf="list.redMin" name="add"></ion-icon>
          </div>
          <div>
            <ion-icon (click)="onSetSize('red', 'small')" *ngIf="list.red=='full'" name="square"></ion-icon>
            <ion-icon (click)="onSetSize('red', 'full')" *ngIf="list.red!='full'" name="square-outline"></ion-icon>
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="content" *ngIf="!list.redMin" ngClass="{{list.red}}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
      </div>
    </div>


    <!-- green pane -->
    <div class="pane-container" #greenpane>
      <!-- header -->
      <div class="header green">
        <ion-label>
          {{list.green}}
        </ion-label>
        <div class="header-icons">
          <div (click)="onCollapse('greenMin')">
            <ion-icon *ngIf="!list.greenMin" name="remove"></ion-icon>
            <ion-icon *ngIf="list.greenMin" name="add"></ion-icon>
          </div>
          <div>
            <ion-icon (click)="onSetSize('green', 'small')" *ngIf="list.green=='full'" name="square"></ion-icon>
            <ion-icon (click)="onSetSize('green', 'full')" *ngIf="list.green!='full'" name="square-outline"></ion-icon>
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="content" *ngIf="!list.greenMin" ngClass="{{list.green}}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates possimus fuga placeat inventore fugiat obcaecati ipsum, voluptatibus laboriosam vel amet repudiandae quae quo consequatur maxime voluptatum molestias atque? Odio.
      </div>
    </div>


  </div>



</ion-content>
