:root{
  --max : 20vh;
}

// .norm{
//   --norm:20vh;
// }
// .max{
//   --max:50vh;
// }

.yellow{
  background-color: rgb(82, 82, 37);
  flex-grow: 1;
}

.red{
  background-color: rgb(82, 37, 37);
  flex-grow: 1;
}

.blue{
  background-color: rgb(32, 42, 65);
  flex-grow: 2;
}

.green{
  background-color: rgb(43, 92, 43);
  flex-grow: 1;
}

.content{
  padding: 30px;
  overflow-y: scroll;
}

.norm{
  max-height: 15vh;
}
.max{
  max-height: var(--max);
}

.header{
  background-color: rgba(0, 0, 0, 0.205);
  max-height: 5vh;
}

.container{
  background-color: rgb(66, 64, 64);
  max-width: 30%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}
